/* Diagnostic Styling */
@import "https://unpkg.com/open-props";

/* Import of Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Import of Google Fonts */
@import url(quilon.css);

@import url(video.mp4);

body {
  height: 150vh;
  color: var(--sand-1);
  text-shadow: 2px 2px 5px black;
  font-family: 'Quilon-Bold'; 
  text-align: center;
}

/* Main Container */
main {
  width: 1500x;
  margin: 0 auto 0 auto;
  padding: 50px;
}

audio {
  width: 100%
}

h1 {
  text-align: center;
}

h1 a {
  font-family: 'Quilon-Bold';
  color: var(--sand-1);
  text-shadow: 2px 2px 5px black;
  text-decoration: none;
}

h1 a:hover {
  color: var(--black);
}

h1:hover {
  animation: var(--animation-blink)
}

video {
  /** Simulationg background-size: cover */
  -o-object-fit: fill;
  object-fit: fill;
-o-object-position: center;
  object-position: center;
  height: 100%;
  width: 100%;
  z-index: -1;

  position: fixed;
  top: 0;
  left: 0;
}